<div>
  <h1 class="doNotRemoveMe">Hello world.</h1>
  <!-- ^ Do not remove this element ^ -->
</div>
 
<h1>My Recipes</h1>

<ng-container *ngIf="recipeList.length === 0; else showList">
  There are no recipes to list
</ng-container>

<ng-template #showList>
  <ul>
    <ng-container *ngFor="let recipe of recipeList">
      <li>{{recipe.recipeName}}</li>
    </ng-container>
  </ul>
  
</ng-template>

<div id="add-recipe">
  <ng-container *ngIf="showRecipeForm; else showButton">
      <form [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
          <label for="recipe-name">recipe-name</label>
          <input id="recipe-name" name="recipe-name" type="text" formControlName="recipeNameControl"><br>
          <label for="recipe-instructions">Recipe Instructions</label>
          <input id="recipe-instructions" name="recipe-instructions" type="text" formControlName="recipeInstructionControl"><br>
          <button type="submit">Submit</button>
      </form>
  </ng-container>
  <ng-template #showButton>
      <button (click)="toggleShowRecipeForm()">Add Recipe</button>
  </ng-template>    
</div>